categories:
  cooking:
    routes:
      en: cooking
      nl: koken
    public: true

applications:
  recipes:
    category: cooking
    label: Recipes
    routes:
      en: recipes
      nl: recepten
    public: true
    order: -1

  authors:
    public: false

  # ~ (null) will deploy with default configurations
  # route: books
  # public: true
  # order: auto
  # category: _default (uncategorized)
  books: ~