// User styling
.app-block, .cat-block {

    &.app-cooking, &.cat-cooking {
        .app, .cat {
            background: #783e03 url('images/cooking_sm.jpg') center center;
            background-size: cover;
        }
    }

    &.cat-entertainment {
        .cat {
            background: #333 url('images/entertainment.jpg') center center;
            background-size: cover;
        }
    }
    &.app-ent-reviews {
        .app {
            background: #bf583c url('images/popcorn.jpg') center center;
            background-size: cover;
        }
    }

    // HORSES
    &.app-horses-main {
        .app {
            background: #1D5A2D url('images/horses_wild.jpg') center center;
            background-size: cover;
        }
    }
    &.app-horses-stirrups {
        .app {
            background: #4f270d url('images/horse_riding4.jpg') bottom right;
            background-size: 175%;
        }
    }

    &.app-horse-riding-log {
        .app {
            background: #5A2949 url('images/horse_closeup3.jpg') center left;
            background-size: cover;
        }
    }
    &.app-horse-riding-instructors {
        .app {
            background: #23316F url('images/horse_instructor.jpg') center right;
            background-size: cover;
        }
    }
    &.app-horses-riders, &.cat-horses {
        .app, .cat {
            background: #4f270d url('images/horse_riding.jpg') center center;
            background-size: cover;
        }
    }

    &.app-horses-stables {
        .app {
            background: #250D09 url('images/riding_school.jpg') center center;
            background-size: cover;
        }
    }

    &.app-horse-riding-events {
        .app {
            background: #333 url('images/horse_riding_competition.jpg') center right;
            background-size: cover;
        }
    }
}