title.cooking: Cooking

entity.verbose: Recipe
entity.verbose_plural: Recipes

choice.course.breakfast: Breakfast
choice.course.lunch: Lunch
choice.course.dinner: Dinner
choice.course.dessert: Dessert
choice.course.snack: Snack

choice.source.book: Book
choice.source.magazine: Magazine
choice.source.web: Internet
choice.source.other: Other

label.course: Course
label.source: Source
label.issue: Issue/Pg
label.author: Author
label.link: URL
label.ingredients: Ingredients
label.recipe: Recipe
