application:
  title: Known authors
  fields:
    name:
      type: text
      required: true
    surname:
      type: text
      required: true
    books:
      type: number
      source: count_books

  meta:
    exposes: [name, surname]

  sources:
    count_books:
      application: books
      function: count